<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Voting System</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Voting System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item me-3">
                    <span class="navbar-text"
                          th:text="'Full name: ' + ${citizen.firstName} + ' ' + ${citizen.lastName}"></span>
                </li>
                <li class="nav-item me-3">
                    <span class="navbar-text" th:text="'JMBG: ' + ${citizen.jmbg}"></span>
                </li>
                <li class="nav-item me-3">
                    <span class="navbar-text" th:text="'Email: ' + ${citizen.email}"></span>
                </li>
                <li class="nav-item me-3">
                    <span class="navbar-text"
                          th:text="'Voting Status: ' + (${citizen.hasVoted} ? 'Voted' : 'Not Voted')"></span>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><strong>Log out</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid px-4 py-5 my-5 text-center">
    <div class="lc-block">
        <div editable="rich">
            <h2 class="display-5 fw-bold">
                Welcome, <span th:text="${citizen.firstName} + ' ' + ${citizen.lastName}"></span>
            </h2>
        </div>
    </div>
    <div class="lc-block col-lg-6 mx-auto mb-4">
        <div editable="rich">
            <p class="lead ">Here, you can vote quickly and securely using modern technology.
                Our platform ensures high standards of data protection and privacy, making it easy and safe to participate in elections.
                Start your voting process today and be part of the democratic decision-making.</p>
        </div>
    </div>

    <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center"> <a class="btn btn-primary btn-lg px-4 gap-3" href="/elections" role="button">
        Click here to see all available elections.</a>
    </div>
</div>

</body>
</html>
